@model LibraryManegement.Models.PupilsOnCourse

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <h2>Details</h2>


    <div>
        <h4>PupilsOnCourse</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Course.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.Name)
            </dd>

            <dt>
                Pupils
            </dt>

            <dd>
                @Model.Pupils.Pupils_first_name @Model.Pupils.Pupils_middle_name @Model.Pupils.Pupils_last_name
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date_from)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_from)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date_to)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_to)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
